In [1]:
#Trataiento de datos
import pandas as pd
pd.set_option('display.max_columns',None)  # Lim columnas
#-------------------

#Exportacion de archivos SRC
import sys
sys.path.append('../')
#-------------------

#Funciones personalizadas
from src import sp_limpieza as sl
#--

In [2]:
df_raw = pd.read_csv ('../data/data_raw.csv')
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
1311,1312,B,2022-03-13,0,SPORTS,P1072,Running Shoes,0,"53,42","0,07","0,0",NaN,NaN,West,NaN,F,Mobile,2,NaN,Chrooome,Organic
348,349,A,2022-02-13,0,FASHHION,P1643,T-shirt,0,"67,81","0,16","0,0",NaN,NaN,South,69.0,M,Desktop,30,NaN,Ottttther,Organic
309,310,A,2022-02-22,0,BEAUTY,P1298,Perfume,0,NaN,"0,11","0,0",NaN,NaN,Central,52.0,F,Mobile,1,NaN,Ottttther,PAID
764,765,A,2022-01-01,0,TOYS,P1544,Board Game,0,"49,13","0,1","0,0",NaN,NaN,South,68.0,F,Desktop,28,NaN,Ottttther,Organic
1871,1872,A,2022-03-03,0,BEAUTY,P1382,Lipstick,0,"52,61","0,08","0,0",NaN,NaN,South,60.0,M,Desktop,27,NaN,Safaaaaari,PAID

### * Copia de DF para no miodificar el original

In [3]:
df = df_raw.copy()

### Cambio columnas, minúscula y sin espacios

In [4]:
df.columns = df.columns.str.replace(' ','_').str.lower()

### Cambio visit_date a fecha

In [5]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format='%Y-%m-%d')

### Conversión a STR

In [6]:
df['conversion_str'] = df['conversion'].apply(lambda x: 'yes' if x==1 else 'no')

### Product category, cambiar fashhion.

In [7]:
df['product_category'] = df['product_category'].str.replace('fashhion','fashion')

### Product Id, cambiar a num

In [8]:
df['product_id'] = df['product_id'].str.replace('P','')
df['product_id'] = df['product_id'].astype('int64')

### Cambiar a minúscula

In [9]:
sl.minus(df)

### Cambiar ',' por '.' y tipo float.

In [10]:
sl.comas(df)

### Cambiar espacios ' ' por '_'.

In [11]:
sl.espacios(df)

### Map de Browser

In [12]:
dicc_map = {'safaaaaari': 'safari', 
            'ottttther': 'other', 
            'firefoxxxxxx': 'firefox', 
            'eddddge': 'edge', 
            'chrooome': 'chrome'}

In [13]:
df['browser'] = df['browser'].map(dicc_map)

In [15]:
df.to_csv ('../data/data_limpio.csv', index=False)